<header> website header <nav>
    <ul>
      <li>
        <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">home</a>
      </li>
      <li>
        <a routerLink="home1" routerLinkActive="active">home1</a>
      </li>
      <li>
        <a routerLink="home/fff" routerLinkActive="active">home/fff</a>
      </li>
      <li>
        <a routerLink="list" routerLinkActive="active">list</a>
      </li>
      <li>
        <a routerLink="login" routerLinkActive="active">login</a>
      </li>
      <li>
        <a routerLink="register" routerLinkActive="active">register</a>
      </li>
      <li>
        <a routerLink="fake" routerLinkActive="active">fake</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
<footer> website footer <button (click)="goBack()">&lt;</button>
  <button (click)="goForward()">&gt;</button>
</footer>